form {
  padding-left: 100px;
}

h1 {
  background-image: url("https://i.postimg.cc/pV1gyNDm/Screenshot-2022-11-22-170320.png");
  color: whitesmoke;
  padding-left: 100px;
  padding-top: 100px;
  height: 280px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: -30px;
}

h2 {
  -webkit-font-smoothing: antialiased;
  color: #303030;
  background: 0 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.125em;
  letter-spacing: 0;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  word-wrap: break-word;
  display: block;
  margin: 16px 0 25px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #858585;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6em;
  background: 0 0;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  display: block;
  margin-bottom: 7px;
}

.form-group input {
  position: relative;
  width: 100%;
  padding: 21px 26px;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: 24px;
  color: #858585;
  background-color: transparent;
  border: 2px solid #1f1f1f;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 20px;
}

.btn-login,
.btn-switch {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: reverse;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  font-weight: 500;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding: 15px 30px;
  color: #fff;
  background-color: #d2401e;
  border: 1px solid transparent;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.login-background {
  background-image: url("https://cdn.shopify.com/s/files/1/0838/7247/files/Table_87_Food_Service_Program.png?v=1653390597&width=2000");
  height: 100vh;
  margin-bottom: -120px;
}

.alert-danger {
  margin-top: 24px;
  border-radius: 0;
  text-align: center;
  vertical-align: center;
  font-family: inherit;
  font-size: 24px;
  font-weight: inherit;
  background-color: transparent;
  border: 2px solid #1f1f1f;
  outline: 0;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}