<p class="description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper
  leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient
  montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.
  Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat mattis, ante metus
  lacinia tellus, vitae condimentum nulla enim bibendum nibh. Praesent turpis
  risus, interdum nec venenatis id, pretium sit amet purus et malesuada fames ac
  ante ipsum primis in faucibus. Aliquam eu lorem nibh.
</p>
