.item {
  padding: 0px 25px;
}

.item-title-price {
  display: flex;
}

.title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 25px 0;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 1.389em;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  letter-spacing: 0.05em;
  color: #b7903c;
}

.spacing-dots {
  display: table-cell;
  flex-grow: 6;
  border-bottom: 2px dotted;
  position: relative;
  bottom: 5px;
  vertical-align: baseline;
  color: #b7903c;
}
.prices {
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.429em;
  color: #b7903c;
  margin: 0;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.ingredients {
  margin: 3px 40% 0 0;
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #858585;
}


